html{
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
}

#burgerMenu{
    display: none;
}
ul{
    display: flex;
    position: fixed;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    background-color: #ad5336;
    height: 24%;
    width: 20%;
    padding: 15% 0% 40% 0%;
}
ul img{
    margin: 17% 7% 7% 5%;
    height: 150px;
    width: 150px;
    border-radius: 50%; 
    border: 10px solid #df7856; 
}
ul li{
    padding: 4%;
    color: white;
}
a{
    text-decoration: none;
    color: #9d9fa8;
}
.iconsA{
    color: black;
}
.menuItem:active{
    color: white;
}
#name{
    margin: 12% 17% 0% 25%;
    font-size: 60px;
    transform: scaleY(1.5);
    scroll-margin-top: 120px;
}
#name #fname{
    color: black;
}
#name #lname{
    color: #ad5336;
}
#location{
    margin: 1% 17% 0% 18.8%;
    font-size: 18px;
    transform: scaleX(0.8);
    color: #9d9fa8;
}
#location #email{
    color: #ad5336;
}
#intro{
    margin: 4% 18% 0% 25.4%;
    font-size: 18px;
    color: #9d9fa8;
}
.icons{
    display: flex;
    flex-direction: row;
    margin: 4% 18% 0% 25.4%;
    padding: 1% 0% 0% 0%;
    gap: 40px;
}
.icons i{
    font-size: 40px;
}
#expId{
    margin: 15% 17% 0% 25%;
    font-size: 30px;
    transform: scaleY(1.5);
}
#restaurantMenu {
    margin: 4% 39% 0% 18.8%;
    font-size: 25px;
    transform: scaleX(0.7);
}
#restDate{
    margin: 0% 1% 0% 79%;
    font-size: 18px;
    transform: scaleX(0.7);
    color: #ad5336;
}
.bu{
    margin: 0.7% 39% 0% 18.8%;
    font-size: 20px;
    transform: scaleX(0.7);
    color: #9d9fa8;
}
#resP{
    margin: 1% 18% 0% 25.3%;
    font-size: 18px;
    color: #9d9fa8;
}
#uiux{
    margin: 5% 39% 0% 18.8%;
    font-size: 25px;
    transform: scaleX(0.7);
}
#uiuxDate{
    margin: 0% 1% 0% 79%;
    font-size: 18px;
    transform: scaleX(0.7);
    color: #ad5336;
}
#uiuxP{
    margin: 1% 18% 0% 25.3%;
    font-size: 18px;
    color: #9d9fa8;
}
#eduId{
    margin: 25% 17% 0% 25%;
    font-size: 30px;
    transform: scaleY(1.5);
    scroll-margin-top: 150px;
}
#buH{
    margin: 5% 39% 0% 18.8%;
    font-size: 25px;
    transform: scaleX(0.7);
}
#stDate{
    margin: 0% 1% 0% 79%;
    font-size: 18px;
    transform: scaleX(0.7);
    color: #ad5336;
}
#buD{
    margin: 1% 18% 0% 15.1%;
    font-size: 18px;
    transform: scaleX(0.7);
    color: #9d9fa8;
}
#skills{
    margin: 25% 17% 0% 25%;
    font-size: 30px;
    transform: scaleY(1.5);
    scroll-margin-top: 70px;
}
#plt{
    margin: 5% 39% 0% 18.8%;
    font-size: 25px;
    transform: scaleX(0.7);
    color: #9d9fa8;
}
.languages{
    display:flex;
    flex-direction: row;
    margin: 2% 39% 0% 25%;
    gap: 40px;
    height: 50px;
    width: 50px;
    fill: #9d9fa8;
    font-size: 50px;
}
#workflow{
    margin: 3% 18% 1% 15.1%;
    font-size: 25px;
    transform: scaleX(0.7);
    color: #9d9fa8;
}
#workDesc{
    margin: 1% 18% 0% 25.3%;
    font-size: 18px;
    color: #9d9fa8;
}

#interests{
    margin: 25% 17% 0% 25%;
    font-size: 30px;
    transform: scaleY(1.5);
    scroll-margin-top: 120px;
}
#intp{
    margin: 4% 18% 0% 25.3%;
    font-size: 18px;
    color: #9d9fa8;
}
#awards{
    margin: 25% 17% 0% 25%;
    font-size: 30px;
    transform: scaleY(1.5);
    scroll-margin-top: 70px;
}
#ieee{
    margin: 4% 18% 20% 25.3%;
    font-size: 18px;
    color: #9d9fa8;
}
.menuItem.selected {
    color: white;
}
@media (max-width: 1024px) {
    ul{
        display: flex;
        flex-direction: column;
        height: 3%;
        width: 100%;
        padding: 13% 0% 3% 0%;
        margin: 0% 0% 0% 0%;
        gap: 20px;
    }
    #burgerMenu{
        display: block;
        margin: 0% 0% 0% 90%;
        height: 50px;
        width: 50px;
        
    }
    ul.show{
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 100%;
        padding: 13% 0% 3% 0%;
        margin: 0% 0% 0% 0%;
        gap: 20px;
        
    }
    ul {
        display: flex;
        position: fixed;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        background-color: #ad5336;
        z-index: 1000;
    }
    
    ul li{
        margin: 40% 0% 0% 0%;
        margin: 0% 0% 0% 0%;
        padding: 0px;
        display: none;
    }
    ul li a{
        margin: 0% 0% 0% 0%;
        padding: 20px;
    }
    ul img {
        display: none;
    }
    #burgerMenu {
        display: block;
        margin-left: 90%;
        height: 50px;
        width: 50px;
    }
    ul.show li {
        display: block; 
    }
    ul img {
        display: none;
    }
    #name {
        margin: 32% 17% 0% 27%;
        font-size: 40px;
        scroll-margin-top: 120px;
    }
    #location {
        margin: 5% 17% 0% 18.8%;
    }
    #restaurantMenu {
        margin: 4% 35% 0% 18.8%;
    }
    #restDate {
        margin: 0% 1% 0% 39%;
    }

}